:root {
    --color-white: #f3f3f3;
    --color-darkblue: #1b1b32;
    --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
    --color-green: hsl(143, 52%, 45%);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
 
body{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-white);
  }
body::before{
      content:"";
      z-index: -1;
      background: var(--color-darkblue);
      background-image: linear-gradient(
      115deg,
    rgba(58, 58, 158, 0.8),
    rgba(136, 136, 206, 0.7)
      ), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height:100%;
      position: fixed;
      top: 0;
      left: 0;
    
}
.header{
    text-align: center;
}
#survey-form{
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding:50px;
  width:50%;
  height:100%;
  justify-content: center;
  align-content: center;
  background-color: var(--color-darkblue-alpha);
  border-radius: 10px;
}
.form-group{
  margin-top: auto;
  margin-left: 10px;
}
#name-label, #email-label, #number-label{
  display: block;
  font-size: 1.2rem;
  margin-top:10px;
  margin-bottom: 10px;
}
label {
  display: block;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}
input[type="text"], input[type="email"], input[type="number"], input[type="email"]{
  width: 100%;
  height:40px;
  border-radius: 5px;
  border-style: none;
}
input[type="radio"], input[type="checkbox"]{
  cursor: pointer;
}
select{
  width: 100%;
  height:40px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}
textarea{
  width: 100%;
  height:100px;
  border-radius: 10px;
}
button{
  background: #37AF65;
  background-image: -webkit-linear-gradient(top, #37AF65, #0F6A2F);
  background-image: -moz-linear-gradient(top, #37AF65, #0F6A2F);
  background-image: -ms-linear-gradient(top, #37AF65, #0F6A2F);
  background-image: -o-linear-gradient(top, #37AF65, #0F6A2F);
  background-image: -webkit-gradient(to bottom, #37AF65, #0F6A2F);
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width:100%;
  height:40px;
  text-align:center;
  padding:10px;
  box-shadow: 1px 1px 20px 0 #000000;
  cursor: pointer;
  color:#FFFFFF;
  font-weight:100;
  font-size:20px;
  font-family: Poppins;
  text-decoration: none;
  line-height:15px;
  margin:10px auto;
}
button:hover{
  background:#0F6A2F;
  background-image: -webkit-linear-gradient(top, #0F6A2F, #37AF65);
  background-image: -moz-linear-gradient(top,#0F6A2F, #37AF65);
  background-image: -ms-linear-gradient(top,#0F6A2F, #37AF65);
  background-image: -o-linear-gradient(top,#0F6A2F #37AF65);
  background-image: -webkit-gradient(to bottom,#0F6A2F #37AF65);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  text-decoration: none;
}
input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}